* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(90deg, #0f1b3d 0%, #4b1f7a 50%, #0f1b3d 100%);
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: #eab308;
  text-align: center;
  font-size:30px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  padding: 3rem ;
  border-radius: 10px;
  position: relative;
}
.wrapper .container h1,
p {
  margin-bottom: 3rem;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  padding:0.5rem;
  color: #eab308;
  border: #eab308 solid 2px;
  background: transparent;
  border-radius:3px;
}

button:hover{
  box-shadow:
     0 0 10px #fff,
     0 0 20px #d69bdc,
     0 0 40px #c3e6e7;
}

.error{
  position: absolute;
  bottom:-12%;
  left:65px;
}

@media screen and (max-width:420px) {
  .container{
      font-size:20px;
      margin:0 1rem;
  }
}
